html {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Oswald", sans-serif;
  background: #98c7b0;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #98c7b0 0%, #8b8b70 75%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #98c7b0), color-stop(75%, #8b8b70));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #98c7b0 0%, #8b8b70 75%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #98c7b0 0%, #8b8b70 75%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #98c7b0 0%, #8b8b70 75%);
  /* IE10+ */
  background: linear-gradient(135deg, #98c7b0 0%, #8b8b70 75%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98c7b0', endColorstr='#8b8b70',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-stroke-width: .05px;
  -webkit-text-stroke-color: white;
  -webkit-font-smoothing: antialiased; }
  body h1 {
    font-family: "Oswald", sans-serif;
    color: #C94B0C; }

.body_wrapper {
  width: 90%;
  margin: 5% auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dadada+0,e9e9e9+50,dadada+100 */
  background: #dadada;
  /* Old browsers */
  background: -moz-linear-gradient(left, #dadada 0%, #e9e9e9 50%, #dadada 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dadada), color-stop(50%, #e9e9e9), color-stop(100%, #dadada));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #dadada 0%, #e9e9e9 50%, #dadada 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #dadada 0%, #e9e9e9 50%, #dadada 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #dadada 0%, #e9e9e9 50%, #dadada 100%);
  /* IE10+ */
  background: linear-gradient(to right, #dadada 0%, #e9e9e9 50%, #dadada 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#dadada',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 22px 87px -24px rgba(0, 0, 0, 0.75); }
  .body_wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 900px) {
    .body_wrapper {
      max-width: 900px; } }

.rashad_header {
  width: 100%;
  margin: 0;
  background-image: url(../img/earthquake.gif);
  background-size: 100% 100%;
  background-repeat: repeat;
  transition: background 20s linear; }
  .rashad_header .rashad_quote {
    width: 100%;
    margin: 0;
    padding: 0; }
    .rashad_header .rashad_quote:after {
      content: "";
      display: table;
      clear: both; }
  .rashad_header .rashad_logo {
    width: 55%;
    float: left;
    padding: 2.5% 0% 0% 3%; }
    .rashad_header .rashad_logo:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 680px) {
      .rashad_header .rashad_logo {
        width: 40%; } }
    @media screen and (min-width: 900px) {
      .rashad_header .rashad_logo {
        padding: 2.5% 0% 0% 3%; } }
    .rashad_header .rashad_logo h1 {
      width: 100%;
      font-size: 1.2em;
      font-weight: bold;
      margin: 0; }
      @media screen and (min-width: 480px) {
        .rashad_header .rashad_logo h1 {
          font-size: 2em; } }
    .rashad_header .rashad_logo .logo_square {
      width: 40%;
      margin: 0% auto 0% auto;
      padding: 2.5% 60% 0% 0%;
      clear: both; }
      .rashad_header .rashad_logo .logo_square:after {
        content: "";
        display: table;
        clear: both; }
      .rashad_header .rashad_logo .logo_square .white {
        background: #F0F0D8;
        width: 20%;
        padding-bottom: 20%;
        float: left; }
        .rashad_header .rashad_logo .logo_square .white:hover, .rashad_header .rashad_logo .logo_square .white :active {
          background: url(../img/square_pattern.gif);
          background-size: 100% 100%;
          background-repeat: repeat;
          transition: background 20s linear; }
      .rashad_header .rashad_logo .logo_square .blue {
        background: #98C7B0;
        width: 20%;
        padding-bottom: 20%;
        float: left; }
        .rashad_header .rashad_logo .logo_square .blue:hover, .rashad_header .rashad_logo .logo_square .blue :active {
          background: url(../img/square_pattern.gif);
          background-size: 100% 100%;
          background-repeat: repeat;
          transition: background 20s linear; }
      .rashad_header .rashad_logo .logo_square .orange {
        background: #C94B0C;
        width: 20%;
        padding-bottom: 20%;
        float: left; }
        .rashad_header .rashad_logo .logo_square .orange:hover, .rashad_header .rashad_logo .logo_square .orange :active {
          background: url(../img/square_pattern.gif);
          background-size: 100% 100%;
          background-repeat: repeat;
          transition: background 20s linear; }
      .rashad_header .rashad_logo .logo_square .brown {
        background: #5A372C;
        width: 20%;
        padding-bottom: 20%;
        float: left; }
        .rashad_header .rashad_logo .logo_square .brown:hover, .rashad_header .rashad_logo .logo_square .brown :active {
          background: url(../img/square_pattern.gif);
          background-size: 100% 100%;
          background-repeat: repeat;
          transition: background 20s linear; }
      .rashad_header .rashad_logo .logo_square .grey {
        background: #8B8B70;
        width: 20%;
        padding-bottom: 20%;
        float: left; }
        .rashad_header .rashad_logo .logo_square .grey:hover, .rashad_header .rashad_logo .logo_square .grey :active {
          background: url(../img/square_pattern.gif);
          background-size: 100% 100%;
          background-repeat: repeat;
          transition: background 20s linear; }
  .rashad_header h4 {
    width: 38%;
    font-size: 0.5em;
    font-weight: bold;
    color: #98C7B0;
    padding: 2.5% 0% 0% 0%;
    margin: 0% 0 0 1px;
    float: right;
    vertical-align: super; }
    @media screen and (min-width: 480px) {
      .rashad_header h4 {
        font-size: 0.8em; } }
    @media screen and (min-width: 680px) {
      .rashad_header h4 {
        padding: 3% 0 0 0; } }
    @media screen and (min-width: 780px) {
      .rashad_header h4 {
        width: 42%;
        font-size: 1em; } }
    @media screen and (min-width: 900px) {
      .rashad_header h4 {
        width: 38%; } }
    @media screen and (min-width: 1200px) {
      .rashad_header h4 {
        width: 34%; } }

.trippy_box {
  opacity: 1;
  transition: opacity 9s ease-in-out;
  padding: 0% 0 2% 0; }
  @media screen and (min-width: 680px) {
    .trippy_box {
      width: 80%;
      margin: 0 auto; } }
  @media screen and (min-width: 780px) {
    .trippy_box {
      width: 70%; } }
  @media screen and (min-width: 900px) {
    .trippy_box {
      width: 50%; } }

.rashad_pic_block {
  width: 40%;
  margin: 0 auto;
  padding: 0; }
  .rashad_pic_block img {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
    box-shadow: 0px 22px 87px -24px rgba(0, 0, 0, 0.75);
    border: 7px solid #C94B0C;
    border-radius: 50%; }

.site_gallery {
  width: 100%;
  margin: 0;
  padding: 0; }
  .site_gallery:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 780px) {
    .site_gallery {
      text-align: center;
      margin: 3% 0% 5% 0%; } }
  .site_gallery .site_box {
    width: 100%;
    margin: 10% 0% 10% 0%;
    padding: 0; }
    @media screen and (min-width: 680px) {
      .site_gallery .site_box {
        margin: 5% 0 8% 0%; } }
    @media screen and (min-width: 780px) {
      .site_gallery .site_box {
        width: 49%;
        display: inline-block;
        text-align: center;
        margin: 1% 0 1% 0; } }
    .site_gallery .site_box a {
      display: block;
      text-decoration: none; }
      .site_gallery .site_box a img {
        display: block;
        width: 90%;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0px 22px 87px -24px rgba(0, 0, 0, 0.75); }
        .site_gallery .site_box a img:hover, .site_gallery .site_box a img :active {
          transform: translate3d(0px, -8px, 0px);
          transition: transform 0.7s 0 infinite; }
    .site_gallery .site_box .vm_box_1, .site_gallery .site_box .vm_box_2, .site_gallery .site_box .vm_box_3, .site_gallery .site_box .vm_box_4 {
      width: 30%;
      margin: 8% auto 3%; }
      @media screen and (min-width: 680px) {
        .site_gallery .site_box .vm_box_1, .site_gallery .site_box .vm_box_2, .site_gallery .site_box .vm_box_3, .site_gallery .site_box .vm_box_4 {
          width: 25%; } }
      @media screen and (min-width: 780px) {
        .site_gallery .site_box .vm_box_1, .site_gallery .site_box .vm_box_2, .site_gallery .site_box .vm_box_3, .site_gallery .site_box .vm_box_4 {
          width: 35%; } }
      .site_gallery .site_box .vm_box_1 a, .site_gallery .site_box .vm_box_2 a, .site_gallery .site_box .vm_box_3 a, .site_gallery .site_box .vm_box_4 a {
        display: block; }
        .site_gallery .site_box .vm_box_1 a img, .site_gallery .site_box .vm_box_2 a img, .site_gallery .site_box .vm_box_3 a img, .site_gallery .site_box .vm_box_4 a img {
          display: block;
          width: 50%;
          margin: 0 auto;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }

.about_wrapper {
  width: 90%;
  margin: 0 auto; }
  .about_wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .about_wrapper div {
    margin: 6% 0% 0% 0%; }
  .about_wrapper h2 {
    color: #C94B0C;
    border-bottom: 2px dotted #8B8B70;
    text-transform: uppercase;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 200; }
  .about_wrapper h3 {
    color: rgba(152, 199, 176, 0.9);
    margin: 1% 0 0 0;
    padding: 0 0 0 0; }
  .about_wrapper h4 {
    color: #5A372C;
    margin: 1% 0 1% 0;
    padding: 0 0 0 0; }
  .about_wrapper p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 200;
    margin: 1% 0 1% 0; }
  .about_wrapper .about_block_2 {
    padding: 0% 0% 10% 0%; }
    @media screen and (min-width: 680px) {
      .about_wrapper .about_block_2 {
        padding: 4% 0 10% 0; } }

@media screen and (min-width: 680px) {
  .about_block_1 {
    margin: 0% 0% 10% 0; }
    .about_block_1 .who_Para {
      float: left;
      width: 48%; }
    .about_block_1 .obj_para {
      float: right;
      width: 48%; }

  .about_block_2 {
    clear: both;
    padding: 0% 0 10% 0;
    margin: 10% 0% 0% 0%; } }
.mail_section {
  width: 90%;
  margin: 0 auto 10%;
  padding: 0% 0 2% 0;
  border-radius: 5px;
  background: rgba(139, 139, 112, 0.5);
  box-shadow: 0px 22px 87px -24px rgba(0, 0, 0, 0.75); }
  @media screen and (min-width: 780px) {
    .mail_section {
      width: 80%; } }
  .mail_section .contact_info {
    color: #C94B0C;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 2% 0;
    background: rgba(152, 199, 176, 0.5);
    border-radius: 5px 5px 0px 0px; }
    .mail_section .contact_info h3 {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      text-transform: uppercase;
      font-weight: 400; }
      @media screen and (min-width: 780px) {
        .mail_section .contact_info h3 {
          font-size: 1.4em; } }
    .mail_section .contact_info h4 {
      margin: 0;
      padding: 0;
      color: #C94B0C;
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: 400; }
      .mail_section .contact_info h4 span {
        color: #58a17d;
        margin: 0 2% 0 0; }
      @media screen and (min-width: 780px) {
        .mail_section .contact_info h4 {
          font-size: 1em; } }
  .mail_section h2 {
    margin: 5% 0 0 1%;
    padding: 0;
    color: white; }

.icon_name {
  width: 88%;
  margin: 5% auto 1%; }
  .icon_name:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 680px) {
    .icon_name {
      clear: both;
      margin: 3% auto 1%; } }
  .icon_name h2 {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    display: none;
    vertical-align: bottom;
    float: right; }
  .icon_name .icon_box {
    width: 10%;
    margin: 0;
    padding: 0% 0 0 0;
    display: block;
    float: left; }
    @media screen and (min-width: 780px) {
      .icon_name .icon_box {
        width: 6%; } }
    .icon_name .icon_box img {
      display: block;
      width: 100%;
      margin: 0 auto; }

.firstname {
  width: 90%;
  margin: 0 auto 5%; }
  .firstname input {
    height: 5%;
    border: 5px solid #C94B0C;
    border-radius: 5px;
    width: 100%;
    color: #C94B0C;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding: 0% 2% 0% 2%;
    font-size: 0.9em; }
    @media screen and (min-width: 780px) {
      .firstname input {
        font-size: 1.2em; } }
  @media screen and (min-width: 680px) {
    .firstname {
      width: 43%;
      margin: 0% 0% 3% 5%;
      float: left; } }

.lastname {
  width: 90%;
  margin: 0 auto; }
  .lastname input {
    height: 5%;
    border: 5px solid #C94B0C;
    border-radius: 5px;
    width: 100%;
    color: #C94B0C;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding: 0% 2% 0% 2%;
    font-size: 0.9em; }
    @media screen and (min-width: 780px) {
      .lastname input {
        font-size: 1.2em; } }
  @media screen and (min-width: 680px) {
    .lastname {
      width: 43%;
      margin: 0% 5% 3% 0%;
      float: right; } }

.email {
  width: 90%;
  margin: 0 auto; }
  .email input {
    height: 5%;
    border: 5px solid #C94B0C;
    border-radius: 5px;
    width: 100%;
    color: #C94B0C;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding: 0% 2% 0% 2%;
    font-size: 0.9em; }
    @media screen and (min-width: 780px) {
      .email input {
        font-size: 1.2em; } }
  .email .value {
    margin: 0; }

.subject {
  width: 90%;
  margin: 0 auto; }
  .subject input {
    height: 5%;
    border: 5px solid #C94B0C;
    border-radius: 5px;
    width: 100%;
    color: #C94B0C;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding: 0% 2% 0% 2%;
    font-size: 0.9em; }
    @media screen and (min-width: 780px) {
      .subject input {
        font-size: 1.2em; } }

.message {
  width: 90%;
  margin: 0 auto; }
  .message textarea {
    width: 100%;
    height: 25%;
    border: 5px solid #C94B0C;
    border-radius: 5px;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 2% 2% 0% 2%;
    font-size: 0.8em; }
  @media screen and (min-width: 780px) {
    .message {
      font-size: 1.2em; } }

.sendbutton {
  width: 90%;
  margin: 5% auto 0%; }
  @media screen and (min-width: 680px) {
    .sendbutton {
      width: 30%;
      margin: 5% 0% 0% 65%; } }
  .sendbutton input {
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #C94B0C;
    background: white;
    border: none;
    border-top: 4px solid white;
    border-bottom: 6px solid #e6e6e6;
    border-right: 4px solid white;
    border-left: 3px solid white;
    border-radius: 5px;
    font-size: 2em; }
    .sendbutton input:hover {
      border-right: 6px solid #f48147;
      border-left: 3px solid #C94B0C;
      border-top: 4px solid #f48147;
      border-bottom: 6px solid #C94B0C;
      color: #98C7B0;
      transition: color 0.3s ease-in;
      transition: color 0.3s ease-out; }

.site_demo {
  width: 100%;
  margin: 0 0 20% 0;
  padding: 0; }

.demo_wrapper {
  width: 90%;
  margin: 0 auto; }

.feat_site_img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto; }
  .feat_site_img img {
    display: block;
    width: 100%; }

.site_links {
  width: 100%;
  margin: 8% auto 5%; }
  @media screen and (min-width: 480px) {
    .site_links {
      text-align: center; } }
  .site_links:after {
    content: "";
    display: table;
    clear: both; }
  .site_links a {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-decoration: none;
    text-align: center; }
    @media screen and (min-width: 480px) {
      .site_links a {
        width: 49%;
        margin: 0;
        display: inline-block;
        text-align: center; } }
    .site_links a h2 {
      font-size: 1.5em;
      text-align: center;
      color: #C94B0C;
      font-weight: 200;
      border-bottom: 5px solid #C94B0C; }
      .site_links a h2:hover {
        border-bottom: 5px solid #98C7B0;
        transition: color 0.8s ease-in; }
      @media screen and (min-width: 780px) {
        .site_links a h2 {
          font-size: 2em; } }
      .site_links a h2:hover {
        color: #98C7B0;
        transition: color 0.3s ease-in;
        transition: color 0.3s ease-out; }

.scope_box {
  width: 100%; }

.scope_wrapper {
  width: 90%;
  margin: 0 auto; }
  .scope_wrapper h2 {
    text-align: center;
    font-weight: 200;
    color: #6f6f59; }
    @media screen and (min-width: 780px) {
      .scope_wrapper h2 {
        font-size: 2em; } }

@media screen and (min-width: 680px) {
  .scope_cat {
    width: 100%;
    margin: 0;
    padding: 0%;
    text-align: center; }
    .scope_cat:after {
      content: "";
      display: table;
      clear: both; } }
.ux_cat, .ui_cat, .dev_cat {
  padding: 5% 0% 8% 0%; }
  @media screen and (min-width: 480px) {
    .ux_cat, .ui_cat, .dev_cat {
      padding: 5% 0% 3% 0%; } }
  @media screen and (min-width: 680px) {
    .ux_cat, .ui_cat, .dev_cat {
      width: 33%;
      display: inline-block;
      float: left;
      text-align: center; } }
  @media screen and (min-width: 780px) {
    .ux_cat, .ui_cat, .dev_cat {
      padding: 2% 0% 3% 0%; } }
  .ux_cat h3, .ui_cat h3, .dev_cat h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    color: #77b597; }
    @media screen and (min-width: 780px) {
      .ux_cat h3, .ui_cat h3, .dev_cat h3 {
        font-size: 1.2em; } }
  .ux_cat p, .ui_cat p, .dev_cat p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    text-align: center;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
    @media screen and (min-width: 780px) {
      .ux_cat p, .ui_cat p, .dev_cat p {
        font-size: 0.8em; } }
  .ux_cat h5, .ui_cat h5, .dev_cat h5 {
    margin: 0;
    padding: 0% 0% 0% 0%;
    font-weight: 200;
    font-size: 0.8em;
    text-shadow: -1px 3px 23px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #6f6f59;
    border-bottom: 1px dashed #98C7B0; }
    @media screen and (min-width: 680px) {
      .ux_cat h5, .ui_cat h5, .dev_cat h5 {
        border-bottom: none; } }
    @media screen and (min-width: 780px) {
      .ux_cat h5, .ui_cat h5, .dev_cat h5 {
        font-size: 0.8em; } }
  .ux_cat .h5_box, .ui_cat .h5_box, .dev_cat .h5_box {
    padding: 3% 0% 0% 0%; }

.discovery_sect h2 {
  text-align: center;
  font-weight: 200;
  margin: 5% 0% 5% 0%;
  color: #6f6f59; }
  @media screen and (min-width: 780px) {
    .discovery_sect h2 {
      font-size: 2em; } }

.disc_wrapper {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 680px) {
    .disc_wrapper {
      text-align: center;
      vertical-align: top; } }

.disc_para {
  margin: 0 0 15% 0; }
  @media screen and (min-width: 480px) {
    .disc_para {
      margin: 0% 0% 10% 0%; } }
  @media screen and (min-width: 680px) {
    .disc_para {
      width: 48%;
      display: inline-block;
      vertical-align: top; } }
  .disc_para h4 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    margin: 0 0 3% 0;
    padding: 0;
    color: #f16017; }
    @media screen and (min-width: 680px) {
      .disc_para h4 {
        border-bottom: 1px dashed #98C7B0; } }
    @media screen and (min-width: 780px) {
      .disc_para h4 {
        font-size: 0.9em; } }
    @media screen and (min-width: 780px) {
      .disc_para h4 {
        font-size: 0.8em; } }
  .disc_para p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
    @media screen and (min-width: 680px) {
      .disc_para p {
        text-align: left;
        vertical-align: top;
        padding: 0 4% 0 0; } }

.sketch_wireframe {
  width: 100%;
  margin: 0%;
  padding: 0%; }
  .sketch_wireframe h2 {
    text-align: center;
    font-weight: 200;
    margin: 20% 0% 5% 0%;
    color: #6f6f59; }
    @media screen and (min-width: 680px) {
      .sketch_wireframe h2 {
        margin: 10% 0% 5% 0%; } }
    @media screen and (min-width: 780px) {
      .sketch_wireframe h2 {
        font-size: 2em;
        margin: 5% 0% 5% 0%; } }
  .sketch_wireframe .sw_wrapper {
    width: 90%;
    margin: 0 auto; }
  .sketch_wireframe .sw_sect {
    width: 100%;
    display: block; }
  .sketch_wireframe .sw_img {
    width: 100%;
    margin: 0% 0% 10% 0%; }
    @media screen and (min-width: 780px) {
      .sketch_wireframe .sw_img {
        width: 80%;
        margin: 0% auto 10% auto; } }
    .sketch_wireframe .sw_img img {
      display: block;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0px 22px 87px -24px rgba(0, 0, 0, 0.75); }

.code_sect h2 {
  text-align: center;
  font-weight: 200;
  margin: 20% 0% 5% 0%;
  color: #6f6f59; }
  @media screen and (min-width: 780px) {
    .code_sect h2 {
      font-size: 2em;
      margin: 20% 0% 5% 0%; } }
.code_sect .code_wrapper {
  width: 90%;
  margin: 0 auto; }
.code_sect .code_img {
  width: 100%;
  margin: 0% 0% 10% 0%; }
  @media screen and (min-width: 780px) {
    .code_sect .code_img {
      width: 80%;
      margin: 0% auto 10% auto; } }
  .code_sect .code_img img {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 22px 87px -24px rgba(0, 0, 0, 0.75); }

.navigation {
  width: 100%;
  margin: 0 auto;
  padding: 10% 0 5% 0;
  background: #98C7B0; }
  @media screen and (min-width: 680px) {
    .navigation {
      padding: 8% 0 3% 0; } }
  @media screen and (min-width: 900px) {
    .navigation {
      padding: 6% 0 3% 00; } }
  .navigation .navigation_wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0; }
  .navigation .nav_icons {
    width: 100%;
    margin: 0% 0 0 0;
    padding: 1% 0% 0% 0%; }
    .navigation .nav_icons a {
      display: block;
      width: 12%;
      margin: 7% 0% 0% 85%;
      padding: 0% 0% 0% 0%; }
      @media screen and (min-width: 680px) {
        .navigation .nav_icons a {
          width: 8%;
          margin: 2.5% 0% 0% 75%; } }
      @media screen and (min-width: 900px) {
        .navigation .nav_icons a {
          width: 6%;
          margin: 2.5% 0% 0% 77%; } }
      .navigation .nav_icons a:hover, .navigation .nav_icons a :active {
        transform: translate3d(0px, -3px, 0px);
        transition: transform 0.7s 0 infinite; }
      .navigation .nav_icons a img {
        display: block;
        width: 100%; }
  .navigation ul {
    width: 100%;
    padding: 0;
    margin: 0 auto; }
    @media screen and (min-width: 680px) {
      .navigation ul {
        width: 90%; } }
    .navigation ul li {
      width: 32%;
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      text-align: center; }
      .navigation ul li a {
        text-align: center;
        background: white;
        box-shadow: 0px 22px 87px -24px rgba(0, 0, 0, 0.75);
        margin: 0;
        padding: 2% 6%;
        text-decoration: none;
        color: #C94B0C;
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        border-bottom: 6px solid #e6e6e6;
        border-right: 4px solid white; }
        @media screen and (min-width: 480px) {
          .navigation ul li a {
            font-size: 1.2em; } }
        @media screen and (min-width: 680px) {
          .navigation ul li a {
            font-size: 1.4em; } }
        @media screen and (min-width: 780px) {
          .navigation ul li a {
            font-size: 1.5em; } }
        .navigation ul li a:hover, .navigation ul li a :active {
          color: #98C7B0;
          transition: color 0.3s ease-in;
          transition: color 0.3s ease-out;
          border-right: 6px solid #f48147;
          border-bottom: 6px solid #C94B0C;
          background: white; }

/*# sourceMappingURL=styles.css.map */
