html {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #bfd4d5; }

body {
  font-family: "lato", sans-serif, arial;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  z-index: 3000;
  -webkit-text-stroke-width: .05px;
  -webkit-text-stroke-color: white;
  -webkit-font-smoothing: antialiased;
  background: white; }
  @media screen and (min-width: 740px) {
    body {
      max-width: 740px;
      margin: 0 auto; } }
  body:hover, body :active {
    background: #edeeee;
    transition: background 0.7s ease-in-out; }

.video_header {
  margin: 0 auto;
  padding-bottom: 0%;
  overflow: hidden; }
  .video_header video {
    width: 100%;
    height: auto;
    left: 0%;
    top: 4%;
    padding: 0% 0% 0% 0%;
    min-width: 100%;
    z-index: -1;
    position: absolute;
    overflow: hidden; }

.video_wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 3em; }

.logo {
  width: 20%;
  margin: 0% auto 8% auto;
  padding: 3% 0 0 0; }
  @media screen and (min-width: 680px) {
    .logo {
      margin: 0% auto 3% auto; } }
  .logo img {
    display: block;
    width: 100%; }

.header_text {
  color: white; }
  .header_text h1 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0;
    text-shadow: 2px 1px rgba(83, 151, 121, 0.4); }
    @media screen and (min-width: 480px) {
      .header_text h1 {
        font-size: 1.8em; } }
    @media screen and (min-width: 680px) {
      .header_text h1 {
        font-size: 2.5em;
        margin: 0;
        padding: 0; } }
  .header_text h3 {
    font-size: 0.7em;
    text-align: center;
    font-weight: 600;
    margin: 4% 0 0 0;
    text-shadow: 2px 1px rgba(83, 151, 121, 0.3); }
    @media screen and (min-width: 375px) {
      .header_text h3 {
        font-size: 1em; } }
    @media screen and (min-width: 680px) {
      .header_text h3 {
        font-size: 1.3em; } }

.header_button {
  border: 2px solid white;
  border-radius: 4px;
  border-shadow: 2px 1px rgba(83, 151, 121, 0.3);
  width: 35%;
  margin: 2em auto 0% auto; }
  @media screen and (min-width: 580px) {
    .header_button {
      width: 25%; } }
  .header_button:hover, .header_button :active {
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.7s ease-in-out; }
  .header_button a {
    text-decoration: none; }
  .header_button h3 {
    color: white;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    margin: 8% 1% 8% 1%;
    text-shadow: 2px 1px rgba(83, 151, 121, 0.3); }
    @media screen and (min-width: 580px) {
      .header_button h3 {
        font-size: 1.2em; } }
    .header_button h3:hover, .header_button h3 :active {
      color: #c71e21;
      transition: color 0.3s ease; }
  .header_button:hover, .header_button :active {
    border: 2px solid #c71e21;
    transition: border 0.3s ease; }

.header_nav {
  background: white;
  width: 100%;
  margin: 0;
  padding: 0% 0 4% 0;
  border-bottom: 1px dotted #989898;
  overflow: hidden;
  position: relative; }
  .header_nav:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 480px) {
    .header_nav {
      padding: 2% 0% 4% 0; } }
  .header_nav:hover, .header_nav :active {
    background: #edeeee;
    transition: background 0.7s ease-in-out; }
  .header_nav ul {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    .header_nav ul:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 580px) {
      .header_nav ul {
        width: 70%; } }
    @media screen and (min-width: 680px) {
      .header_nav ul {
        width: 65%; } }
    @media screen and (min-width: 740px) {
      .header_nav ul {
        width: 60%; } }
    .header_nav ul li {
      float: left;
      width: 32%;
      margin: 0 auto;
      list-style: none;
      text-align: center;
      display: inline-block;
      opacity: 1; }
      .header_nav ul li:hover, .header_nav ul li :active {
        opacity: 0.6; }
      .header_nav ul li a {
        width: 100%;
        text-align: center;
        text-decoration: none; }

.nav_img_box {
  width: 100%;
  vertical-align: bottom;
  display: block;
  text-align: center;
  margin: 4% 0 0 0; }
  .nav_img_box img {
    display: block;
    max-height: 50px;
    margin: 0 auto; }

.nav_img_text {
  display: block;
  text-align: center;
  margin: 2% 0 0% 0; }
  .nav_img_text a {
    text-decoration: none;
    list-style: none;
    text-align: center; }
  .nav_img_text h4 {
    text-align: center;
    color: rgba(78, 102, 91, 0.9);
    margin: 0% 0 0 0;
    font-size: 0.6em;
    font-weight: 600;
    text-height: 2px;
    text-transform: uppercase; }
    .nav_img_text h4:hover, .nav_img_text h4 :active {
      color: #c71e21;
      transition: color 0.3s ease-in-out; }

.home_content {
  background: white;
  padding-bottom: 8%;
  padding-top: 3%;
  border-bottom: 1px dotted #989898; }
  .home_content:hover, .home_content :active {
    background: #edeeee;
    transition: background 0.7s ease-in-out; }
  .home_content .home_wrapper {
    width: 75%;
    margin: 0% auto 0 auto; }
    @media screen and (min-width: 480px) {
      .home_content .home_wrapper {
        width: 70%; } }
    @media screen and (min-width: 740px) {
      .home_content .home_wrapper {
        width: 65%; } }
  .home_content h1 {
    color: #c71e21;
    font-size: 1.3em;
    text-align: center;
    font-weight: 600; }
    @media screen and (min-width: 480px) {
      .home_content h1 {
        font-size: 1.7em; } }
  .home_content p {
    color: #989898;
    text-align: left;
    font-size: 0.8em; }
    @media screen and (min-width: 480px) {
      .home_content p {
        font-size: 1em; } }
    @media screen and (min-width: 740px) {
      .home_content p {
        font-size: 1.1em; } }

.beer_content {
  background: white;
  width: 100%;
  padding: 0;
  margin: 0; }

.beer_wrapper:after {
  content: "";
  display: table;
  clear: both; }
@media screen and (min-width: 375px) {
  .beer_wrapper {
    padding: 5% 0 0 0; } }
@media screen and (min-width: 580px) {
  .beer_wrapper {
    text-align: center;
    padding: 5% 2.5% 0% 2.5%; } }

.block {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer; }
  @media screen and (min-width: 375px) {
    .block {
      width: 60%;
      padding: 5% 0%;
      margin: 0% auto 5%; } }
  @media screen and (min-width: 580px) {
    .block {
      width: 44%;
      display: inline-block;
      margin: 0% 2.5% 5% 2.5%;
      padding: 5% 0; } }
  .block:hover .flipcard, .block :active .flipcard {
    opacity: 1;
    transition: opacity 0.7s ease-in-out; }

.artemis_block {
  background: #aba46c; }
  .artemis_block .flipcard {
    background: #aba46c; }

.finisher_block {
  background: #848fbf; }
  .finisher_block .flipcard {
    background: #848fbf; }

.sacred_block {
  background: #8f4646; }
  .sacred_block .flipcard {
    background: #8f4646; }

.medusa_block {
  background: #48524f; }
  .medusa_block .flipcard {
    background: #48524f; }

.bottle {
  display: block;
  width: 30%;
  margin: 0 auto; }
  .bottle img {
    display: block;
    width: 100%;
    padding: 10% 0 0 0; }

.flipcard {
  padding: 5% 5% 0% 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  opacity: 0; }
  .flipcard h1 {
    text-align: left;
    font-size: 1.4em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8); }
  .flipcard p {
    text-align: left;
    font-size: 0.7em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7); }

.tasting_room_content {
  background: white;
  width: 100%;
  margin: 0;
  padding: 5% 0 5% 0; }
  .tasting_room_content:after {
    content: "";
    display: table;
    clear: both; }
  .tasting_room_content:hover, .tasting_room_content :active {
    background: #edeeee;
    transition: background 0.7s ease-in-out; }

.tasting_room_wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0; }

.tasting_paragraph {
  width: 100%;
  margin: 0;
  padding-bottom: 5%; }
  .tasting_paragraph h1 {
    color: #3D473F;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 0; }
  .tasting_paragraph p {
    text-align: left;
    color: #989898;
    font-size: 0.9em; }

.tasting_room_hours {
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .tasting_room_hours h4 {
    color: #c71e21;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-size: 300;
    text-align: center; }

.weekday {
  width: 80%;
  margin: 2% auto 0 auto;
  text-align: center; }
  .weekday:after {
    content: "";
    display: table;
    clear: both; }
  .weekday .day {
    width: 30%;
    float: left;
    font-size: 1.2em; }
    .weekday .day h6 {
      margin: 0 0 0 10%;
      padding: 0;
      color: #989898;
      text-align: left; }
  .weekday .hour {
    width: 70%;
    float: right;
    margin: 0;
    font-size: 1.2em; }
    .weekday .hour h6 {
      margin: 0 0 0 20%;
      padding: 0;
      color: #989898;
      text-align: center; }

.directions {
  width: 100%;
  margin: 8% 0 0 0;
  padding: 2% 0;
  border-top: 5px solid #c71e21;
  border-bottom: 5px solid #c71e21; }

.directions_wrapper {
  width: 95%;
  margin: 0 auto; }
  .directions_wrapper a {
    text-decoration: none; }

.dir_logo_box {
  width: 30%;
  margin: 0 auto; }
  .dir_logo_box img {
    display: block;
    width: 100%; }

.directions_image_box {
  width: 80%;
  margin: 5% auto 0 auto; }
  .directions_image_box img {
    display: block;
    width: 100%; }

.direction_button {
  border: 2px solid #989898;
  border-radius: 4px;
  width: 80%;
  padding: 3% 0;
  margin: 5% auto 5% auto; }
  .direction_button h6 {
    color: #989898;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0; }
  .direction_button:hover, .direction_button :active {
    border: 2px solid #c71e21; }
    .direction_button:hover h6, .direction_button :active h6 {
      color: #c71e21; }

.contact_section {
  background: white;
  padding: 8% 0 8% 0; }
  .contact_section:hover, .contact_section :active {
    background: #edeeee;
    transition: background 0.7s ease-in-out; }
  .contact_section .contact_wrapper {
    width: 75%;
    margin: 0% auto 0 auto; }
    @media screen and (min-width: 580px) {
      .contact_section .contact_wrapper {
        width: 70%; } }
    @media screen and (min-width: 740px) {
      .contact_section .contact_wrapper {
        width: 65%; } }
  .contact_section h2 {
    color: #c71e21;
    font-size: 0.8em;
    text-align: center;
    font-weight: 600; }
    @media screen and (min-width: 480px) {
      .contact_section h2 {
        font-size: 1.2em; } }
    @media screen and (min-width: 580px) {
      .contact_section h2 {
        font-size: 1.35em; } }
    @media screen and (min-width: 680px) {
      .contact_section h2 {
        font-size: 1.58em; } }
    @media screen and (min-width: 740px) {
      .contact_section h2 {
        font-size: 1.62em; } }
  .contact_section p {
    color: #989898;
    text-align: left;
    font-size: 0.8em; }
    @media screen and (min-width: 480px) {
      .contact_section p {
        font-size: 1em; } }
    @media screen and (min-width: 740px) {
      .contact_section p {
        font-size: 1.1em; } }

form {
  width: 100%; }
  form .names_fields {
    border: none;
    padding: 3% 0 0 0;
    margin: 0 0 5% 0; }
    form .names_fields:after {
      content: "";
      display: table;
      clear: both; }
  form label {
    display: none; }
  form .firstname input {
    width: 42%;
    padding: 3% 1% 3% 3%;
    border: 2px solid #989898;
    border-radius: 4px;
    color: #989898;
    font-size: 0.7em;
    float: left; }
    @media screen and (min-width: 480px) {
      form .firstname input {
        font-size: 0.8em; } }
  form .lastname input {
    width: 42%;
    padding: 3% 1% 3% 3%;
    border: 2px solid #989898;
    border-radius: 4px;
    color: #989898;
    font-size: 0.7em;
    float: right; }
    @media screen and (min-width: 480px) {
      form .lastname input {
        font-size: 0.8em; } }
  form .email_field {
    border: none;
    padding: 0 0;
    margin: 0 0 5% 0; }
    form .email_field input {
      width: 95%;
      padding: 3% 1% 3% 3%;
      margin: 0% 0%;
      border: 2px solid #989898;
      border-radius: 4px;
      color: #989898;
      font-size: 0.7em;
      float: right; }
      @media screen and (min-width: 480px) {
        form .email_field input {
          font-size: 0.8em; } }
  form .message {
    border: none;
    padding: 0 0;
    margin: 0 0 5% 0; }
    form .message textarea {
      width: 95%;
      padding: 3% 1% 3% 3%;
      margin: 0% 0%;
      border: 2px solid #989898;
      border-radius: 4px;
      color: #989898;
      font-size: 0.7em;
      float: right; }
      @media screen and (min-width: 480px) {
        form .message textarea {
          font-size: 0.8em; } }
  form .button {
    border: none;
    padding: 0 0;
    width: 40%;
    margin: 0 auto 5% auto; }
    form .button input {
      width: 100%;
      padding: 7% 7%;
      margin: 0% 0%;
      border: 2px solid black;
      border-radius: 4px;
      color: black;
      font-size: 0.7em;
      float: right;
      background: white; }
      @media screen and (min-width: 480px) {
        form .button input {
          font-size: 0.8em; } }
      form .button input:hover, form .button input :active {
        border: 2px solid #c71e21;
        color: #c71e21;
        transition: border 0.3s ease-in-out;
        transition: color 0.3s ease-in-out; }

.footer_nav {
  background: #c71e21;
  width: 100%;
  padding: 4% 0 4% 0;
  border-bottom: 1px dotted #989898;
  display: none; }
  .footer_nav ul {
    display: block;
    width: 80;
    margin: 0 auto;
    padding: 0,0,0,0; }
    .footer_nav ul:after {
      content: "";
      display: table;
      clear: both; }
    .footer_nav ul li {
      float: left;
      width: 30%;
      margin: 0 auto;
      list-style: none; }
      .footer_nav ul li a {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none; }

.white_nav_img_box {
  width: 100%;
  vertical-align: bottom;
  display: block;
  text-align: center;
  margin: 4% 0 0 0; }
  .white_nav_img_box img {
    display: block;
    max-height: 50px;
    margin: 0 auto; }

.white_nav_img_text {
  display: block;
  text-align: center;
  margin: 2% auto 0 auto; }
  .white_nav_img_text a {
    text-decoration: none;
    list-style: none;
    text-align: center; }
  .white_nav_img_text h4 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 0% 0 0 0;
    font-size: 0.5em;
    font-weight: 600;
    text-height: 2px; }
    .white_nav_img_text h4:hover, .white_nav_img_text h4 :active {
      color: #3D473F;
      transition: color 0.3s ease-in-out; }

.fixed_section_wrapper {
  position: relative;
  z-index: -10; }
  @media screen and (min-width: 740px) {
    .fixed_section_wrapper {
      max-width: 740px;
      margin: 0 auto; } }
  .fixed_section_wrapper:hover, .fixed_section_wrapper :active {
    z-index: -2000; }

.fixed_section {
  background: #4E665B;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -3; }
  .fixed_section:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 740px) {
    .fixed_section {
      max-width: 740px;
      margin: 0 auto; } }
  .fixed_section .inner {
    padding: 2% 0 2% 0;
    margin: 10% 0 2% 0; }
    .fixed_section .inner:after {
      content: "";
      display: table;
      clear: both; }

.fixed_logo {
  width: 33%;
  margin: 0 auto; }
  .fixed_logo img {
    display: block;
    width: 80%;
    margin: 0 auto 0 auto; }

.fixed_link_1, .fixed_link_2 {
  width: 50%;
  margin: 8% auto;
  clear: both; }
  .fixed_link_1:after, .fixed_link_2:after {
    content: "";
    display: table;
    clear: both; }
  .fixed_link_1 ul, .fixed_link_2 ul {
    margin: 0;
    padding: 0; }
    .fixed_link_1 ul li, .fixed_link_2 ul li {
      list-style: none;
      text-align: center;
      margin: 5% 0 5% 0; }
      .fixed_link_1 ul li a, .fixed_link_2 ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
        font-weight: 300;
        text-align: center; }

.subscribe_news {
  clear: both;
  padding-top: 3%;
  width: 100%; }
  .subscribe_news:after {
    content: "";
    display: table;
    clear: both; }
  .subscribe_news h3 {
    width: 100%;
    margin: 5% auto 0 auto;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    color: white; }
    @media screen and (min-width: 480px) {
      .subscribe_news h3 {
        font-size: 1.3em; } }
    @media screen and (min-width: 680px) {
      .subscribe_news h3 {
        font-size: 1.6em; } }
  .subscribe_news form {
    width: 80%;
    margin: 3% auto 0 auto; }
    @media screen and (min-width: 375px) {
      .subscribe_news form {
        width: 70%; } }
    @media screen and (min-width: 680px) {
      .subscribe_news form {
        width: 60%; } }
    @media screen and (min-width: 740px) {
      .subscribe_news form {
        width: 55%; } }
    .subscribe_news form fieldset {
      border: none; }
  .subscribe_news .footer_email {
    border: none;
    padding: 0 0;
    margin: 0% 0 0 0;
    width: 60%;
    float: left; }
    .subscribe_news .footer_email input {
      width: 100%;
      padding: 3% 0% 3% 3%;
      margin: 0% 0% 0% 0%;
      border: 2px solid #989898;
      border-radius: 4px;
      color: white;
      font-size: 0.7em;
      font-size: 300;
      background: #4E665B; }
      @media screen and (min-width: 480px) {
        .subscribe_news .footer_email input {
          font-size: 0.8em; } }

.footer_submit {
  border: none;
  padding: 0 0;
  width: 35%;
  margin: 0% 0% 0% 5%;
  float: left; }
  .footer_submit input {
    width: 100%;
    padding: 5% 0% 5% 3%;
    margin: 0% 0%;
    border: 2px solid #989898;
    border-radius: 4px;
    color: white;
    font-size: 0.7em;
    background: #4E665B; }
    @media screen and (min-width: 480px) {
      .footer_submit input {
        font-size: 0.8em; } }

.address_section {
  width: 90%;
  margin: 10% auto 0 auto; }
  .address_section h3 {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    font-size: 1em;
    text-decoration: underline;
    margin: 0% 0 0 0;
    font-weight: 300; }
    @media screen and (min-width: 680px) {
      .address_section h3 {
        font-size: 1.2em; } }
  .address_section p {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    font-size: 0.8em;
    margin: 2% auto 0 auto;
    font-weight: 300; }
    @media screen and (min-width: 680px) {
      .address_section p {
        font-size: 0.9em; } }

/*# sourceMappingURL=styles.css.map */
