$lato: 'lato', sans-serif, arial;

$darkgreen: #3D473F;
$seafoam: #4E665B;
$lightgreen: #7C8A70;
$lightgrey: #edeeee;
$red: #c71e21;
$textgrey: #989898;
$artemis: #aba46c;
$finisher: #848fbf;
$sacred: #8f4646;
$medusa: #48524f;

$break0: 375px;
$break1: 480px;
$break2: 580px;
$break3: 680px;
$maxwidth:740px;
@mixin clearfix {
  &:after { content: ""; display: table; clear: both; }
}

@mixin breakpoint($point) {
    @media screen and ('min-width:' + $point) {
        @content;
    }
}

html{
	padding: 0;
	margin: 0;
	width: 100%;
	background: $lightgrey;
}


body{
	font-family: $lato;
	width: 100%;
	margin:0;
	padding:0;
	position: relative;
	top:0;
	z-index:3000;
	-webkit-text-stroke-width: .05px;
	-webkit-text-stroke-color: white;
	-webkit-font-smoothing:antialiased;
	background: white;
	@include breakpoint($maxwidth){
		max-width: $maxwidth;
		margin:0 auto;
	}
	&:hover,:active{
		background:$lightgrey;
		transition: background 0.7s ease-in-out;
	}
}

.video_header{
	margin:0 auto;
	padding-bottom:0%;
	overflow: hidden;


	video{
		width: 100%;
		height: auto;
		left: 0%;
		top: 4%;
		padding: 0% 0% 0% 0%;
		min-width: 100%;
		z-index: -1;
		position: absolute;
		overflow: hidden;
	
	}
	

}

.video_wrapper{
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 3em;
	

}

.logo{
	width: 20%;
	margin: 0% auto 8% auto;
	padding: 3% 0 0 0;
	@include breakpoint($break3){
		margin: 0% auto 3% auto;
	}
	

	img{
		display: block;
		width: 100%;
	}
}


.header_text{
	color: white;


	h1{
		font-size: 1.3em;
		text-align: center;
		font-weight: 800;
		margin-bottom:0; 
		text-shadow: 2px 1px rgba(83,151,121,0.4);
		@include breakpoint($break1){
			font-size: 1.8em;
		}
		@include breakpoint($break3){
			font-size: 2.5em;
			margin: 0;
			padding: 0;
		}
		
	}

	h3{
		font-size: 0.7em;
		text-align: center;
		font-weight: 600;
		margin: 4% 0 0 0;
		text-shadow: 2px 1px rgba(83,151,121,0.3);
		@include breakpoint($break0){
			font-size: 1em;
		}
		@include breakpoint($break3){
			font-size: 1.3em;
		}
		
	}

}

.header_button{
	border: 2px solid white;
	border-radius: 4px;
	border-shadow:2px 1px rgba(83,151,121,0.3);;
	width: 35%;
	margin: 2em auto 0% auto;
	@include breakpoint($break2){
		width: 25%;	
	}
	&:hover,:active{
		background: rgba(white,0.3);
		transition: background 0.7s ease-in-out;
	}
	

	a{
		text-decoration: none;
	}

	h3{
		color: white;
		font-size: 1em;
		text-align: center;
		font-weight: 300;
		text-decoration: none;
		margin: 8% 1% 8% 1%;
		text-shadow: 2px 1px rgba(83,151,121,0.3);
		@include breakpoint($break2){
			font-size: 1.2em;	
		}
		
		&:hover,:active{
			color: $red;
			transition: color 0.3s ease;
		}

	}

	&:hover,:active{
		border: 2px solid $red;
		transition: border 0.3s ease;
	}

}

.header_nav{
	background:white;
	width:100%;
	margin: 0;
	padding: 0% 0 4% 0;
	border-bottom: 1px dotted $textgrey;
	overflow: hidden;
	position: relative;
	@include clearfix;
	@include breakpoint($break1){
		padding: 2% 0% 4% 0;	
	}
	

	&:hover,:active{
		background:$lightgrey;
		transition: background 0.7s ease-in-out;
	}

	ul{
		display: block;
		width: 80%;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		@include clearfix;
		@include breakpoint($break2){
			width: 70%;	
		}
		@include breakpoint($break3){
			width: 65%;
		}
		@include breakpoint($maxwidth){
			width: 60%;
		}

		
	

		li{
			float:left;
			width: 32%;
			margin: 0 auto;
			list-style: none;
			text-align: center;
			display: inline-block;
			opacity: 1;
			&:hover,:active{
				opacity: 0.6;

			}
			a{
				width: 100%;
				text-align: center;
				text-decoration: none;
			}

		}
	}
}



.nav_img_box{
	width:100%;
	vertical-align: bottom;
	display: block;
	text-align: center;
	margin: 4% 0 0 0;
	

	img{
		display: block;
		max-height: 50px;
		margin: 0 auto;
	}

}

.nav_img_text{
	display: block;
	text-align: center;
	margin: 2% 0 0% 0;
	
	
	a{
		text-decoration: none;
		list-style: none;
		text-align: center;

	}

	h4{
		text-align: center;
		color: rgba($seafoam,0.9);
		margin: 0% 0 0 0;
		font-size: 0.6em;
		font-weight: 600;
		text-height:2px;
		text-transform: uppercase;
		

		&:hover,:active{
			color: $red;
			transition: color 0.3s ease-in-out;
		}
	}
}

.home_content{
	background:white;
	padding-bottom: 8%;
	padding-top:3%;
	border-bottom: 1px dotted $textgrey;
	

	&:hover,:active{
		background:$lightgrey;
		transition: background 0.7s ease-in-out;
	}
	.home_wrapper{
		width: 75%;
		margin: 0% auto 0 auto;
		@include breakpoint($break1){
			width: 70%;	
		}
		@include breakpoint($maxwidth){
			width: 65%;
		}


	
	}
	h1{
		color: $red;
		font-size: 1.3em;
		text-align: center;
		font-weight: 600;
		@include breakpoint($break1){
			font-size: 1.7em;	
		}
		
	}
	p{
		color: $textgrey;
		text-align: left;
		font-size: 0.8em;
		@include breakpoint($break1){
			font-size: 1em;	
		}
		@include breakpoint($maxwidth){
			font-size: 1.1em;
		}
		

	}
}

.beer_content{
	background:white;
	width:100%;
	padding:0;
	margin:0;
}


.beer_wrapper{
	@include clearfix;
	@include breakpoint($break0){
		padding: 5% 0 0 0;	
	}
	@include breakpoint($break2){
		text-align: center;	
		padding: 5% 2.5% 0% 2.5%;
	}


}

.block{
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	cursor: pointer;
	@include breakpoint($break0){
		width: 60%;
		padding: 5% 0%;
		margin: 0% auto 5%;	

	}
	@include breakpoint($break2){
		width: 44%;
		display: inline-block;
		margin: 0% 2.5% 5% 2.5%;	
		padding:5% 0;

	}

	&:hover .flipcard, :active .flipcard{
		opacity: 1;
		transition: opacity 0.7s ease-in-out;

	}
}


.artemis_block{
	background: $artemis;

	.flipcard{
		background: $artemis;
	}
}

.finisher_block{
	background: $finisher;
	

	.flipcard{
		background: $finisher;
	}
}

.sacred_block{
	background: $sacred;

	.flipcard{
		background: $sacred;
	}
}

.medusa_block{
	background: $medusa;
	

	.flipcard{
		background: $medusa;
	}
}

.bottle{
	display: block;

	width:30%;
	margin: 0 auto;

	img{
		display: block;
		width: 100%;
		padding: 10% 0 0 0;
	}
}

.flipcard{
	padding: 5% 5% 0% 5%;
	position: absolute;

	top:0;
	bottom:0;
	left: 0;
	right: 0;

	z-index:400;
	opacity: 0;

	h1{
		text-align: left;
		font-size: 1.4em;
		font-weight: 700;
		color: rgba(255,255,255,0.8);
	}
	p{
		text-align: left;
		font-size: 0.7em;
		font-weight: 300;
		color: rgba(255,255,255,0.7);
	}
	
}

.tasting_room_content{
	background:white;
	width:100%;
	margin:0;
	padding:5% 0 5% 0;
	@include clearfix;
	
	&:hover,:active{
		background:$lightgrey;
		transition: background 0.7s ease-in-out;
	}
}

.tasting_room_wrapper{
	width:90%;
	margin:0 auto;
	padding:0;
	
}

.tasting_paragraph{
	width:100%;
	margin:0;
	padding-bottom: 5%;
	
	h1{
		color: $darkgreen;
		font-size: 2em;
		font-weight: 600;
		text-align: center;
		margin: 0;
		
	}
	p{
		text-align: left;
		color: $textgrey;
		font-size: 0.9em;
		
	}

}

.tasting_room_hours{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	
	
	h4{
		color: $red;
		margin: 0;
		padding: 0;
		font-size: 1.5em;
		font-size: 300;
		text-align: center;
	}

}

.weekday{
	@include clearfix;
	width: 80%;
	margin: 2% auto 0 auto;
	text-align: center;


	.day{
		width: 30%;
		float: left;
		font-size: 1.2em;
		
		h6{
			margin: 0 0 0 10%;
			padding: 0;
			color: $textgrey;
			text-align: left;
		}
	}
	.hour{
		width: 70%;
		float: right;
		margin: 0;
		font-size: 1.2em;
		
		h6{
			margin: 0 0 0 20%;
			padding: 0;
			color: $textgrey;
			text-align: center;
		}
	}
}

.directions{
	width:100%;
	margin:8% 0 0 0;
	padding:2% 0;
	border-top: 5px solid $red;
	border-bottom: 5px solid $red;


	
	
}

.directions_wrapper{
	width: 95%;
	margin: 0 auto;
	a{
		text-decoration: none;
	}

}

.dir_logo_box{
	width:30%;
	margin: 0 auto;
	img{
		display: block;
		width: 100%;
	}

}

.directions_image_box{
	width: 80%;
	margin: 5% auto 0 auto;
	img{
		display: block;
		width: 100%;
	}
}

.direction_button{
	border:2px solid $textgrey;
	border-radius: 4px;
	width: 80%;
	padding: 3% 0;
	margin:5% auto 5% auto;
	h6{
		color: $textgrey;
		text-align: center;	
		font-size: 1em;
		margin: 0;
		padding: 0;
	}

	&:hover,:active{
		border: 2px solid $red;
		h6{
			color: $red;
		}
	}
}

.contact_section{
	background:white;
	padding: 8% 0 8% 0;
	
	&:hover,:active{
		background:$lightgrey;
		transition: background 0.7s ease-in-out;
	}

	.contact_wrapper{
		width: 75%;
		margin: 0% auto 0 auto;
		@include breakpoint($break2){
			width: 70%;	
		}
		@include breakpoint($maxwidth){
			width: 65%;
		}
		
	}

	h2{
		color: $red;
		font-size: 0.8em;
		text-align: center;
		font-weight: 600;
		@include breakpoint($break1){
			font-size: 1.2em;	
		}
		@include breakpoint($break2){
			font-size: 1.35em;	
		}
		@include breakpoint($break3){
			font-size: 1.58em;
		}
		@include breakpoint($maxwidth){
			font-size: 1.62em;
		}
		
	}


	p{
		color: $textgrey;
		text-align: left;
		font-size: 0.8em;
		@include breakpoint($break1){
			font-size: 1em;	
		}
		@include breakpoint($maxwidth){
			font-size: 1.1em;
		}
		

	}

}

form{
	width:100%;
	.names_fields{
		border:none;
		padding:3% 0 0 0;
		margin: 0 0 5% 0;
		@include clearfix;
	}
	label{
		display: none;
	}

	.firstname{
		input{
			width: 42%;
			padding:3% 1% 3% 3%;
			border: 2px solid $textgrey;
			border-radius: 4px;
			color: $textgrey;
			font-size: 0.7em;
			float: left;
			@include breakpoint($break1){
				font-size: 0.8em;
			}
		

		}
	}

	.lastname{
		input{
			width: 42%;
			padding:3% 1% 3% 3%;
			border: 2px solid $textgrey;
			border-radius: 4px;
			color: $textgrey;
			font-size: 0.7em;
			float: right;
			@include breakpoint($break1){
				font-size: 0.8em;
			}
		


		}
	}

	.email_field{
		border:none;
		padding:0 0;
		margin: 0 0 5% 0;

		input{
			width: 95%;
			padding:3% 1% 3% 3%;
			margin: 0% 0%;
			border: 2px solid $textgrey;
			border-radius: 4px;
			color: $textgrey;
			font-size: 0.7em;
			float: right;
			@include breakpoint($break1){
				font-size: 0.8em;
			}
		}
	}

	.message{
		border:none;
		padding:0 0;
		margin: 0 0 5% 0;

		textarea{
			width: 95%;
			padding:3% 1% 3% 3%;
			margin: 0% 0%;
			border: 2px solid $textgrey;
			border-radius: 4px;
			color: $textgrey;
			font-size: 0.7em;
			float: right;
			@include breakpoint($break1){
				font-size: 0.8em;
			}
		}


	}

	.button{
		border:none;
		padding:0 0;
		width: 40%;
		margin: 0 auto 5% auto;


		input{
			width: 100%;
			padding:7% 7%;
			margin: 0% 0%;
			border: 2px solid black;
			border-radius: 4px;
			color: black;
			font-size: 0.7em;
			float: right;
			background:white;
			@include breakpoint($break1){
				font-size: 0.8em;
			}	
			&:hover,:active{
				border: 2px solid $red;
				color: $red;
				transition: border 0.3s ease-in-out;
				transition: color 0.3s ease-in-out;
			}

		}
	}

	
}


.footer_nav{
	background:$red;
	width:100%;
	// margin: 0 0 81% 0;
	padding: 4% 0 4% 0;
	border-bottom: 1px dotted $textgrey;
	display: none;
	


	ul{
		display: block;
		width: 80;
		margin: 0 auto;
		padding: 0,0,0,0;
		@include clearfix;
	

		li{
			float:left;
			width: 30%;
			margin: 0 auto;
			list-style: none;
			a{
				display: inline-block;
				width: 100%;
				text-align: center;
				text-decoration: none;

			}

		}
	}
}

.white_nav_img_box{
	width:100%;
	vertical-align: bottom;
	display: block;
	text-align: center;
	margin: 4% 0 0 0;
	img{
		display: block;
		max-height: 50px;
		margin: 0 auto;
	}
}

.white_nav_img_text{
	display: block;
	text-align: center;
	margin: 2% auto 0 auto;

	a{
		text-decoration: none;
		list-style: none;
		text-align: center;

	}

	h4{
		text-align: center;
		color: rgba(255,255,255,0.8);
		margin: 0% 0 0 0;
		font-size: 0.5em;
		font-weight: 600;
		text-height:2px;
		&:hover,:active{
			color: $darkgreen;
			transition: color 0.3s ease-in-out;
		}
	}
}


		


.fixed_section_wrapper{
	position: relative;
	z-index: -10;
	@include breakpoint($maxwidth){
		max-width: $maxwidth;
		margin:0 auto;
	}
	&:hover,:active{
		z-index: -2000;
	}
}

.fixed_section{
	background:#4E665B;
	@include clearfix;
	position:fixed;
	bottom:0;
	right: 0;
	left: 0;
	z-index: -3;
	@include breakpoint($maxwidth){
		max-width: $maxwidth;
		margin:0 auto;
	}

	.inner{
		padding: 2% 0 2% 0;
		margin: 10% 0 2% 0;
		@include clearfix;
		
	}
}

.fixed_logo{
	width:33%;
	margin: 0 auto;
	img{
		display: block;
		width: 80%;
		margin: 0 auto 0 auto;
		

	}
}


.fixed_link_1,.fixed_link_2{
	width: 50%;
	margin: 8% auto;
	clear: both;
	@include clearfix;
	
	ul{
		margin: 0;
		padding: 0;
		
		li{
			list-style:none;
			text-align: center;
			margin: 5% 0 5% 0;
			a{
				text-decoration: none;
				color: white;
				font-size: 1.1em;
				font-weight: 300;
				text-align: center;


			}
		}
	}
}

.subscribe_news{
	clear:both;
	padding-top: 3%;
	@include clearfix;
	width: 100%;
	h3{
		width: 100%;
		margin: 5% auto 0 auto;
		font-size: 1em;
		font-weight: 300;
		text-align: center;
		color: white;
		@include breakpoint($break1){
			font-size: 1.3em;	
		}
		@include breakpoint($break3){
			font-size: 1.6em;
		}
	}

	form{
		width: 80%;
		margin: 3% auto 0 auto;
		@include breakpoint($break0){
			width: 70%;
		}
		@include breakpoint($break3){
			width: 60%;
		}
		@include breakpoint($maxwidth){
			width: 55%;
		}
		fieldset{
			border: none;
		}
	}


	.footer_email{
		border:none;
		padding:0 0;
		margin: 0% 0 0 0;
		width: 60%;
		float: left;

		input{
			width: 100%;
			padding:3% 0% 3% 3%;
			margin: 0% 0% 0% 0%;
			border: 2px solid $textgrey;
			border-radius: 4px;
			color: white;
			font-size: 0.7em;
			font-size: 300;
			background: $seafoam;
			@include breakpoint($break1){
				font-size: 0.8em;	
			}
			

		}

		}


	}
	.footer_submit{
		border:none;
		padding:0 0;
		width: 35%;
		margin: 0% 0% 0% 5%;
		float: left;
		

		input{
			width: 100%;
			padding:5% 0% 5% 3%;
			margin: 0% 0%;
			border: 2px solid $textgrey;
			border-radius: 4px;
			color: white;
			font-size: 0.7em;
			background:$seafoam;
			@include breakpoint($break1){
				font-size: 0.8em;	
			}
		}
	}



.address_section{
		width: 90%;
		margin: 10% auto 0 auto;
		h3{
			width: 100%;
			display: block;
			text-align: center;
			color: white;
			font-size: 1em;
			text-decoration: underline;
			margin: 0% 0 0 0;
			font-weight: 300;
			@include breakpoint($break3){
				font-size: 1.2em;
			}
		}

		p{
			width: 100%;
			display: block;
			text-align: center;
			color: white;
			font-size: 0.8em;
			margin: 2% auto 0 auto;
			font-weight: 300;
			@include breakpoint($break3){
				font-size: 0.9em;
			}


		}
}






